@{
    Layout = null;
}

<div class="icon-photo"><a href="/account/LogIn/">Моя страница</a></div>
<div class="icon-music"><a href="/account/edit/">Личные данные</a></div>
<div class="icon"><a href="/account/socseti/">Соц. сети</a></div>
<div class="icon-video"><a href="/account/change_password">Изменить пароль</a></div>
<div class="icon-ыуеештпы"><a href="/account/regulations/">Пользовательское соглашение</a></div>